<div class="banner" style="background-image: url('<%= image_path 'banner.jpg' %>');">
    <div class="container text-center justify-content-center align-middle">
      <h1 class="font-weight-bold">BOIA REMO OBSERVACIONAL</h1>
    </div>
</div>


<div class="container">
  <h2 class="text-center mt-4">ÚLTIMOS DADOS</h2>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card align-middle p-2 card-value">
        <p>DATA-HORA: <%= @values[:timestamp][-1]%> </p>
        <p>POSIÇÃO ATUAL: Lat <%= @values[:latitude][-1]%>, Long <%= @values[:longitude][-1]%> </p>
        <p>POSIÇÃO LANÇAMENTO: Lat <%= @deploy[:lat]%>, Long <%= @deploy[:lng]%> </p>

      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card p-2  align-middle card-value">
        <p>ALTURA DE ONDA: <%= @values[:significantwaveheight][-1].round(1)%> m</p>
        <p>PERÍODO DAS ONDAS: <%= @values[:peakperiod][-1].round(1)%> s</p>
        <p>DIREÇÃO DAS ONDAS: <%= @values[:peakdirection][-1].round()%>°</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card p-2 align-middle card-value">
        <p>VELOCIDADE DO VENTO: <%= @values[:wind_speed][-1].round(1)%> nós</p>
        <p>DIREÇÃO DO VENTO: <%= @values[:wind_direction][-1].round()%>°</p>
        <p>TEMPERATURA DA ÁGUA: <%= @values[:water_temperature][-1].round(1)%>°</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card align-middle p-2 card-value">
        <p>VOLTAGEM BATERIA: <%= @values[:batteryvoltage]%> V</p>
        <p>ENERGIA BATERIA: <%= @values[:batterypower]%> W</p>
        <p>ENERGIA SOLAR: <%= @values[:solarvoltage]%> V</p>
        <p>UMIDADE: <%= @values[:humidity]%> %</p>
      </div>
    </div>
  </div>

  <h2 class="text-center mt-4">POSIÇÃO</h2>
  <div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-circle="<%= @deploy.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <h2 class="text-center mt-4">ALTURA DE ONDAS</h2>
  <canvas id="myChart0" width="400" height="200"></canvas>
  <h2 class="text-center  mt-4">PERÍODO DAS ONDAS</h2>
  <canvas id="myChart1" width="400" height="200"></canvas>
  <h2 class="text-center  mt-4">DIREÇÃO DAS ONDAS</h2>
  <canvas id="myChart4" width="400" height="200"></canvas>
  <h2 class="text-center  mt-4">VELOCIDADE DO VENTO</h2>
  <canvas id="myChart2" width="400" height="200"></canvas>
  <h2 class="text-center  mt-4">DIREÇÃO DO VENTO</h2>
  <canvas id="myChart3" class="pb-5" width="400" height="200"></canvas>
  <h2 class="text-center  mt-4">TEMPERATURA DA ÁGUA</h2>
  <canvas id="myChart5" class="pb-5" width="400" height="200"></canvas>
  <br>
  <br>
</div>


<script>
var ctx = document.getElementById("myChart0").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= @values[:timestamp].to_json.html_safe %>,
        datasets: [{
            label: '# of Votes',
            data: <%= @values[:significantwaveheight].to_json.html_safe %>,
        }]
    },
    options: {
        legend: {
          display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});
</script>


<script>
var ctx = document.getElementById("myChart1").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= @values[:timestamp].to_json.html_safe %>,
        datasets: [{
            label: '# of Votes',
            data: <%= @values[:peakperiod].to_json.html_safe %>,
        }]
    },
    options: {
        legend: {
          display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});
</script>

<script>
var ctx = document.getElementById("myChart2").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= @values[:timestamp].to_json.html_safe %>,
        datasets: [{
            data: <%= @values[:wind_speed].to_json.html_safe %>,
        }]
    },
    options: {
        legend: {
          display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});
</script>

<script>
var ctx = document.getElementById("myChart3").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= @values[:timestamp].to_json.html_safe %>,
        datasets: [{
            label: '# of Votes',
            data: <%= @values[:wind_direction].to_json.html_safe %>,
        }]
    },
    options: {
        legend: {
          display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});
</script>

<script>
var ctx = document.getElementById("myChart4").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= @values[:timestamp].to_json.html_safe %>,
        datasets: [{
            label: '# of Votes',
            data: <%= @values[:peakdirection].to_json.html_safe %>,
        }]
    },
    options: {
        legend: {
          display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});
</script>

<script>
var ctx = document.getElementById("myChart5").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= @values[:timestamp_water].to_json.html_safe %>,
        datasets: [{
            label: '# of Votes',
            data: <%= @values[:water_temperature].to_json.html_safe %>,
        }]
    },
    options: {
        legend: {
          display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});
</script>
